body{
    background-color: #ffffff;
}
h1{
    background-color: rgba(97, 198, 241, 0.849);
}
h1{
    color: rgba(0, 0, 0, 0.849);
}
#sala{
    display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 4px;

position: absolute;
width: 268px;
height: 20px;
left: 647px;
top: 100px;

}
#horas{
    display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 4px;

position: absolute;
width: 151px;
height: 20px;
left: 951px;
top: 100px;
}
#calendario{
    display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 4px;

position: absolute;
width: 167px;
height: 20px;
left: 395px;
top: 100px;

}
#suprimentos{
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 4px;

position: absolute;
width: 219px;
height: 25px;
left: 300px;
top: 300px;
}
h2{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 4px;
    
    position: absolute;
    width: 219px;
    height: 25px;
    left: 300px;
    top: 250px;
}
#qtd{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 4px;
    
    position: absolute;
    width: 219px;
    height: 25px;
    left: 300px;
    top: 350px;
}
#rrrrrrrrrrrrrrrrrrrrrrrr.png{
    position: absolute;
    width: 289px;
    height: 272px;
    left: -17px;
    top: -28px;
    
    background: url(rrrrrrrrrrrrrrrrrrrrrrrr.png);
    
}