body{
    background-color: #ffffff;
}
h1{
    background-color: rgba(97, 198, 241, 0.849);
}
h1{
    color: rgba(0, 0, 0, 0.849);
}
#sala{
    display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 4px;

position: absolute;
width: 268px;
height: 20px;
left: 647px;
top: 100px;
}
#calendario{
    position:absolute;
    margin-left:500px;
    margin-top:46px;
    width:100px;
    height:15px;

}
#suprimentos{
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 4px;

    position:absolute;
    margin-left:0px;
    margin-top:0px;
    width: 200px;
    height: 20px;
}
#text{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 4px;
    
    position: absolute;
    width: 219px;
    height: 25px;
    left: 300px;
    top: 250px;
}
#qtd{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 4px;
    
    position:absolute;
    margin-left:0px;
    margin-top:23px;
    width: 200px;
    height: 20px;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
.logo-line{
    position:absolute;
    margin-left:0px;
    margin-top:0px;
    width:300px;
    height:300px;
}
.hours{
   
    position:absolute;
    margin-left:250px;
    margin-top:-20px;
    
}
#horas{
    
    position:absolute;
    margin-left:250px;
    margin-top:47px;
    width:200px;
    height:20px;
}
.date{
    position:absolute;
    margin-left:500px;
    margin-top:-22px;
    width:200px;
    height:20px;
}
.rooms{
    position:absolute;
    margin-left:650px;
    margin-top:-22px;
    width:200px;
    height:20px;
}
#sala{
    position:absolute;
    margin-left:0px;
    margin-top:36px;
    width:200px;
    height:20px;
}